<% provide(:title, 'Home') %>
<!-- Content
================================================== -->
<div id="content">

<!-- 960 Container -->
<div class="container floated" id="banner">
	<%= link_to image_tag("banner-wide.jpg", class: "img-responsive"), static_page_path("signals") %>
</div>

<div class="container">
	<!-- Icon Boxes / End -->
	<section class="icon-box-container">
		<div class="one-third column">
			<article class="icon-box">
				<i class="halflings black check"></i>
				<h3>MyFxbook Verified</h3>
				<p>We pride ourselves on our transparency, and you will find all of our trades recorded and verified by a third party. Get in touch to recieve the links.</p>
			</article>
		</div>
		<div class="one-third column">
			<article class="icon-box">
				<i class="halflings black check"></i>
				<h3>Elite Performance</h3>
				<p>Unlike other signal providers, our trading desk is built on transparency and consistency. We've been performing at an 8% monthly return on average.</p>
			</article>
		</div>
		<div class="one-third column">
			<article class="icon-box">
				<i class="halflings black check"></i>
				<h3>Forex signals by Email & Whatsapp</h3>
				<p>You will be receiving our forex signals instantly through Email and Whatsapp. We Provide 1-10 trades per week. Subscribe for a free trial.</p>
			</article>
		</div>
	</section>
</div>

<!-- 960 Container -->
<div class="container floated">
	<div class="blank floated">

		<!-- Recent Work Entire -->
		<div class="four columns carousel-intro">

			<section class="entire">
				<h3>Technical Analysis</h3>
				<p>Not all trade ideas will be published here, please sign up for a subscription to view all of them.</p>
			</section>

			<div class="carousel-navi">
				<div id="work-prev" class="arl jcarousel-prev"><i class="icon-chevron-left"></i></div>
				<div id="work-next" class="arr jcarousel-next"><i class="icon-chevron-right"></i></div>
			</div>
			<div class="clearfix"></div>

		</div>

		<!-- jCarousel -->
		<section class="jcarousel recent-work-jc">
			<ul>

				<!-- Recent Work Item -->
				<li class="four columns">
					<a href="single-project.html" class="portfolio-item">
						<figure>
							<img src="images/portfolio/portfolio-01.jpg" alt=""/>
							<figcaption class="item-description">
								<h5>Herp derpsum</h5>
								<span>Derperker der herpler</span>
							</figcaption>
						</figure>
					</a>
				</li>

			</ul>
		</section>
		<!-- jCarousel / End -->

	</div>
</div>
<!-- 960 Container / End -->


<!-- 960 Container -->
<div class="container">

	<!-- Recent News -->
	<div class="eight columns">

		<h3 class="margin-1">Articles <span>/ Stuff From Our Blog</span></h3>

		<div class="four columns alpha">
			<article class="recent-blog">
				<section class="date">
					<span class="day">28</span>
					<span class="month">Dec</span>
				</section>
				<h4><a href="blog-post.html">Sherper herpsum</a></h4>
				<p>Herpderpsmer me terpus perp terp serp le. Le sherpus sherper herpem. <span class="cut">Herderder terp berps nerpy herpderpsmer herpsum serp herpy dee.</span></p>
			</article>
		</div>

		<div class="four columns omega">
			<article class="recent-blog">
				<section class="date">
					<span class="day">15</span>
					<span class="month">Dec</span>
				</section>
				<h4><a href="blog-post.html">Sherper herpsum</a></h4>
				<p>Herpderpsmer me terpus perp terp serp le. Le sherpus sherper herpem. <span class="cut">Herderder terp berps nerpy herpderpsmer herpsum serp herpy dee.</span></p>
			</article>
		</div>

	</div>

	<!-- Testimonials -->
	<div class="eight columns">

		<h3 class="margin-1">Testimonials <span>/ What Our Clients Say</span></h3>

		<!-- Testimonial Rotator -->
		<section class="flexslider testimonial-slider">
			<ul class="slides">
			
				<li class="testimonial">
					<div class="testimonials">Sherper herpsum herpderpsmer me terpus perp terp serp le. Le sherpus sherper herpem ter perp derp nerpy sherp perper. Herderder terp berps nerpy herpderpsmer herpsum serp herpy.</div>
					<div class="testimonials-bg"></div>
					<div class="testimonials-author">Derp, <span>Herp</span></div>
				</li>

			</ul>
		</section>
		<!-- Testomonial Rotator / End -->

	</div>

</div>
<!-- 960 Container / End -->

</div>
<!-- Content / End -->

</div>
<!-- Wrapper / End -->