<% provide(:title, 'Home') %>
<!-- Content
================================================== -->
<div id="content">

<!-- LayerSlider  -->
<section id="layerslider-container" style="display:none;">
	<div id="layerslider" style="width: 1020px; height: 450px; margin: 0 auto;">

		<!-- Slide 1 -->
		<article class="ls-layer" style="slidedelay: 10000;">
			<img src="images/slide-01.jpg" class="ls-bg" alt="">
			<img class="ls-s4" src="images/slide-01a.png" style="top: 30px; left: 120px; slidedirection: bottom; slideoutdirection: bottom; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;" alt=""/>
			<h3 class="ls-s1 caption-color" style="top: 357px; left: 756px; slidedirection: right; slideoutdirection: right; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;">Powerful HTML5 Template</h3>
		</article>

		<!-- Slide 2 -->
		<article class="ls-layer" style="slidedelay: 10000; slidedirection: top;">
			<img src="images/slide-02.png" class="ls-bg">
			<img class="ls-s4" src="images/slide-02a.png" style="top: 50%; left: 260px; slidedirection: left; slideoutdirection: left; durationin: 800; durationout: 800; easingin : easeOutExpo; delayin : 1200;" alt=""/>
			<img class="ls-s4" src="images/slide-02b.png" style="top: 50%; left: 544px; slidedirection: right; slideoutdirection: right; durationin: 800; durationout: 800; easingin : easeOutExpo; delayin : 1200;" alt=""/>

			<img class="ls-s4" src="images/slide-02c.png" style="top: 230px; left: 494px; slidedirection: top; durationin: 800; durationout: 800; easingin : easeOutExpo; delayin : 1200;" alt=""/>

			<img class="ls-s2" src="images/slide-02d.png" style="top: 15px; left: -142px; slidedirection: left; slideoutdirection: left; durationin: 600; durationout: 1000; easingin: easeOutExpo; delayin: 1200;" alt=""/>
			<img class="ls-s2" src="images/slide-02e.png" style="top: 15px; left: 784px; slidedirection: right; slideoutdirection: right; durationin: 600; durationout: 1000; easingin: easeOutExpo; delayin: 1200;" alt=""/>
		</article>

		<!-- Slide 3 -->
		<article class="ls-layer" style="slidedelay: 7000;">
			<img src="images/slide-03.jpg" class="ls-bg" alt="">
			<h3 class="ls-s1 caption-transparent" style="top: 357px; left: 40px;">Image in Slide Directly</h3>
		</article>

	</div>
</section>
<!-- LayerSlider / End -->

<!-- 960 Container -->
<div class="container floated" id="banner">

	<!-- Icon Boxes -->
	<section class="icon-box-container">

		<!-- Icon Box Start -->
		
		<div class="sixteen columns">
			<img class="img-responsive" src="images/large-940.jpg">
		</div>
		<!-- Icon Box End -->

	</section>
</div>
<div class="container">
	<!-- Icon Boxes / End -->
	<section class="icon-box-container">
		<div class="one-third column">
			<article class="icon-box">
				<i class="icon-file"></i>
				<h3>Herp herpderp</h3>
				<p>Herp derpsum pee herpsum dee me perp berps ler ter derps terp. Der terpus, herp herpy sherp derpler pee berp derps.</p>
			</article>
		</div>
		<div class="one-third column">
			<article class="icon-box">
				<i class="icon-file"></i>
				<h3>Herp herpderp</h3>
				<p>Herp derpsum pee herpsum dee me perp berps ler ter derps terp. Der terpus, herp herpy sherp derpler pee berp derps.</p>
			</article>
		</div>
		<div class="one-third column">
			<article class="icon-box">
				<i class="icon-file"></i>
				<h3>Herp herpderp</h3>
				<p>Herp derpsum pee herpsum dee me perp berps ler ter derps terp. Der terpus, herp herpy sherp derpler pee berp derps.</p>
			</article>
		</div>
	</section>
</div>

<!-- 960 Container -->
<div class="container floated">
	<div class="blank floated">

		<!-- Recent Work Entire -->
		<div class="four columns carousel-intro">

			<section class="entire">
				<h3>Herp herpderp</h3>
				<p>Herp derpsum pee herpsum dee me perp berps ler ter derps terp. Der terpus, herp herpy sherp derpler pee berp derps. Herp derpsum pee herpsum dee me perp berps ler ter derps terp. Der terpus, herp herpy sherp derpler pee berp derps.</p>
			</section>

			<div class="carousel-navi">
				<div id="work-prev" class="arl jcarousel-prev"><i class="icon-chevron-left"></i></div>
				<div id="work-next" class="arr jcarousel-next"><i class="icon-chevron-right"></i></div>
			</div>
			<div class="clearfix"></div>

		</div>

		<!-- jCarousel -->
		<section class="jcarousel recent-work-jc">
			<ul>
				<!-- Recent Work Item -->
				<li class="four columns">
					<a href="single-project.html" class="portfolio-item">
						<figure>
							<img src="images/portfolio/portfolio-01.jpg" alt=""/>
							<figcaption class="item-description">
								<h5>Herp derpsum</h5>
								<span>Derperker der herpler</span>
							</figcaption>
						</figure>
					</a>
				</li>

				<!-- Recent Work Item -->
				<li class="four columns">
					<a href="single-project.html" class="portfolio-item">
						<figure>
							<img src="images/portfolio/portfolio-01.jpg" alt=""/>
							<figcaption class="item-description">
								<h5>Herp derpsum</h5>
								<span>Derperker der herpler</span>
							</figcaption>
						</figure>
					</a>
				</li>

				<!-- Recent Work Item -->
				<li class="four columns">
					<a href="single-project.html" class="portfolio-item">
						<figure>
							<img src="images/portfolio/portfolio-01.jpg" alt=""/>
							<figcaption class="item-description">
								<h5>Herp derpsum</h5>
								<span>Derperker der herpler</span>
							</figcaption>
						</figure>
					</a>
				</li>

				<!-- Recent Work Item -->
				<li class="four columns">
					<a href="single-project.html" class="portfolio-item">
						<figure>
							<img src="images/portfolio/portfolio-01.jpg" alt=""/>
							<figcaption class="item-description">
								<h5>Herp derpsum</h5>
								<span>Derperker der herpler</span>
							</figcaption>
						</figure>
					</a>
				</li>
				
				<!-- Recent Work Item -->
				<li class="four columns">
					<a href="single-project.html" class="portfolio-item">
						<figure>
							<img src="images/portfolio/portfolio-01.jpg" alt=""/>
							<figcaption class="item-description">
								<h5>Herp derpsum</h5>
								<span>Derperker der herpler</span>
							</figcaption>
						</figure>
					</a>
				</li>

				<!-- Recent Work Item -->
				<li class="four columns">
					<a href="single-project.html" class="portfolio-item">
						<figure>
							<img src="images/portfolio/portfolio-01.jpg" alt=""/>
							<figcaption class="item-description">
								<h5>Herp derpsum</h5>
								<span>Derperker der herpler</span>
							</figcaption>
						</figure>
					</a>
				</li>

			</ul>
		</section>
		<!-- jCarousel / End -->

	</div>
</div>
<!-- 960 Container / End -->


<!-- 960 Container -->
<div class="container">

	<!-- Recent News -->
	<div class="eight columns">

		<h3 class="margin-1">Articles <span>/ Stuff From Our Blog</span></h3>

		<div class="four columns alpha">
			<article class="recent-blog">
				<section class="date">
					<span class="day">28</span>
					<span class="month">Dec</span>
				</section>
				<h4><a href="blog-post.html">Sherper herpsum</a></h4>
				<p>Herpderpsmer me terpus perp terp serp le. Le sherpus sherper herpem. <span class="cut">Herderder terp berps nerpy herpderpsmer herpsum serp herpy dee.</span></p>
			</article>
		</div>

		<div class="four columns omega">
			<article class="recent-blog">
				<section class="date">
					<span class="day">15</span>
					<span class="month">Dec</span>
				</section>
				<h4><a href="blog-post.html">Sherper herpsum</a></h4>
				<p>Herpderpsmer me terpus perp terp serp le. Le sherpus sherper herpem. <span class="cut">Herderder terp berps nerpy herpderpsmer herpsum serp herpy dee.</span></p>
			</article>
		</div>

	</div>

	<!-- Testimonials -->
	<div class="eight columns">

		<h3 class="margin-1">Testimonials <span>/ What Our Clients Say</span></h3>

		<!-- Testimonial Rotator -->
		<section class="flexslider testimonial-slider">
			<ul class="slides">
				<li class="testimonial">
					<div class="testimonials">Sherper herpsum herpderpsmer me terpus perp terp serp le. Le sherpus sherper herpem ter perp derp nerpy sherp perper. Herderder terp berps nerpy herpderpsmer herpsum serp herpy.</div>
					<div class="testimonials-bg"></div>
					<div class="testimonials-author">Derp, <span>Herp</span></div>
				</li>

				<li class="testimonial">
					<div class="testimonials">Sherper herpsum herpderpsmer me terpus perp terp serp le. Le sherpus sherper herpem ter perp derp nerpy sherp perper. Herderder terp berps nerpy herpderpsmer herpsum serp herpy.</div>
					<div class="testimonials-bg"></div>
					<div class="testimonials-author">Derp, <span>Herp</span></div>
				</li>

				<li class="testimonial">
					<div class="testimonials">Sherper herpsum herpderpsmer me terpus perp terp serp le. Le sherpus sherper herpem ter perp derp nerpy sherp perper. Herderder terp berps nerpy herpderpsmer herpsum serp herpy.</div>
					<div class="testimonials-bg"></div>
					<div class="testimonials-author">Derp, <span>Herp</span></div>
				</li>

				<li class="testimonial">
					<div class="testimonials">Sherper herpsum herpderpsmer me terpus perp terp serp le. Le sherpus sherper herpem ter perp derp nerpy sherp perper. Herderder terp berps nerpy herpderpsmer herpsum serp herpy.</div>
					<div class="testimonials-bg"></div>
					<div class="testimonials-author">Derp, <span>Herp</span></div>
				</li>
			</ul>
		</section>
		<!-- Testomonial Rotator / End -->

	</div>

</div>
<!-- 960 Container / End -->

</div>
<!-- Content / End -->

</div>
<!-- Wrapper / End -->