<% provide(:title, 'Videos') %>
<!-- Content
================================================== -->
<div id="content">

<!-- 960 Container -->
<div class="container floated">

	<!-- Page Content -->
	<div class="eleven floated">
		<div class="shop-page page-content">
		
		<!-- Isotope -->
		<div id="portfolio-wrapper">
		
			<!-- Shop Item -->
			<div class="four-shop columns isotope-item">
				<div class="shop-item">
					<figure>
						<a href="product-page.html"><img src="images/shop/shop-02.jpg" alt="" /></a>
						<figcaption class="item-description">
							<a href="product-page.html"><h5>Digital Photo Camera</h5></a>
							<span>$499</span>
							<a href="#" class="button color">Add to Cart</a>
						</figcaption>
					</figure>
				</div>
			</div>
			
		</div>
		<!-- Isotope / End -->

	<div class="clearfix"></div>

	</div>
	</div>
	<!-- Page Content / End -->

</div>
<!-- 960 Container / End -->

</div>
<!-- Content / End -->

</div>
<!-- Wrapper / End -->