<% provide(:title, 'Videos') %>
<!-- Content
================================================== -->
<div id="content">


<!-- 960 Container -->
<div class="container floated">

	<!-- Page Content -->
	<div class="eleven floated">
		<div class="shop-page page-content">
		
		<!-- Isotope -->
		<div id="portfolio-wrapper">
		
			<!-- Shop Item -->
			<div class="four-shop columns isotope-item">
				<div class="shop-item">
					<figure>
						<a href="product-page.html"><img src="images/shop/shop-02.jpg" alt="" /></a>
						<figcaption class="item-description">
							<a href="product-page.html"><h5>Digital Photo Camera</h5></a>
							<span>$499</span>
							<a href="#" class="button color">Add to Cart</a>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<!-- Shop Item -->
			<div class="four-shop columns isotope-item">
				<div class="shop-item">
					<figure>
						<a href="product-page.html"><img src="images/shop/shop-01.jpg" alt="" /></a>
						<figcaption class="item-description">
							<a href="product-page.html"><h5>Mountain Bike</h5></a>
							<span>$399</span>
							<a href="#" class="button color">Add to Cart</a>
						</figcaption>
					</figure>
				</div>
			</div>

			<!-- Shop Item -->
			<div class="four-shop columns isotope-item">
				<div class="shop-item">
					<figure>
						<a href="product-page.html"><img src="images/shop/shop-03.jpg" alt="" /></a>
						<figcaption class="item-description">
							<a href="product-page.html"><h5>Camera Lens</h5></a>
							<span>$129</span>
							<a href="#" class="button color">Add to Cart</a>
						</figcaption>
					</figure>
				</div>
			</div>

			<!-- Shop Item -->
			<div class="four-shop columns isotope-item">
				<div class="shop-item">
					<figure>
						<a href="product-page.html"><img src="images/shop/shop-04.jpg" alt="" /></a>
						<figcaption class="item-description">
							<a href="product-page.html"><h5>Cycling Helmet</h5></a>
							<span>$89</span>
							<a href="#" class="button color">Add to Cart</a>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<!-- Shop Item -->
			<div class="four-shop columns isotope-item">
				<div class="shop-item">
					<figure>
						<a href="product-page.html"><img src="images/shop/shop-05.jpg" alt="" /></a>
						<figcaption class="item-description">
							<a href="product-page.html"><h5>Cycling Gloves</h5></a>
							<span>$29</span>
							<a href="#" class="button color">Add to Cart</a>
						</figcaption>
					</figure>
				</div>
			</div>

			<!-- Shop Item -->
			<div class="four-shop columns isotope-item">
				<div class="shop-item">
					<figure>
						<a href="product-page.html"><img src="images/shop/shop-06.jpg" alt="" /></a>
						<figcaption class="item-description">
							<a href="product-page.html"><h5>Cycling Shoes</h5></a>
							<span>$119</span>
							<a href="#" class="button color">Add to Cart</a>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<!-- Shop Item -->
			<div class="four-shop columns isotope-item">
				<div class="shop-item">
					<figure>
						<a href="product-page.html"><img src="images/shop/shop-07.jpg" alt="" /></a>
						<figcaption class="item-description">
							<a href="product-page.html"><h5>Travel Backpack</h5></a>
							<span>$99</span>
							<a href="#" class="button color">Add to Cart</a>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<!-- Shop Item -->
			<div class="four-shop columns isotope-item">
				<div class="shop-item">
					<figure>
						<a href="product-page.html"><img src="images/shop/shop-08.jpg" alt="" /></a>
						<figcaption class="item-description">
							<a href="product-page.html"><h5>Sport Sunglasses</h5></a>
							<span>$29</span>
							<a href="#" class="button color">Add to Cart</a>
						</figcaption>
					</figure>
				</div>
			</div>

			<!-- Shop Item -->
			<div class="four-shop columns isotope-item">
				<div class="shop-item">
					<figure>
						<a href="product-page.html"><img src="images/shop/shop-09.jpg" alt="" /></a>
						<figcaption class="item-description">
							<a href="product-page.html"><h5>LED Flashlight</h5></a>
							<span>$19</span>
							<a href="#" class="button color">Add to Cart</a>
						</figcaption>
					</figure>
				</div>
			</div>
			
		</div>
		<!-- Isotope / End -->

		<div class="sixteen columns">
			<!-- Pagination -->
			<nav class="pagination shop">
				<ul>
					<li><a href="#" class="current">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">Next</a></li>
				</ul>
				<div class="clearfix"></div>
			</nav>
		</div>

	</div>
	</div>
	<!-- Page Content / End -->


	<!-- Sidebar -->
	<div class="four floated sidebar right">
		<aside class="sidebar">
		

			<!-- Cart -->
			<div class="widget" style="margin: -8px 0 0 0;">
				<h4>Shopping Cart</h4>
				<div id="cart">

				<ul class="cart-items">
					<li>
						<a href="#" class="cart-item-title">Digital Photo Camera</a>
						<span class="cart-item-amount"><a class="item-remove" href="#"><i class="icon-remove"></i></a> 1 x $499</span>
					</li>
				</ul>

				<span class="cart-subtotal">Subtotal: <strong>$499</strong></span>
				
				<a href="#" class="button light">View Cart</a>
				<a href="#" class="button color">Checkout</a>
				</div>
			</div>
			

			<!-- Empty Cart
			<div class="widget" style="margin: -8px 0 0 0;">
				<h4>Shopping Cart</h4>
				<div id="cart">
					<span class="empty-cart">Your cart is empty.</span>
				</div>
			</div> -->


			<!-- Price Range -->
			<div class="widget">
				<h4>Filter by Price</h4>
				<div id="price-range">
					<div class="padding-range"><div id="slider-range"></div></div>
					<label for="amount">Price:</label>
					<input type="text" id="amount"/>
					<a href="#" class="button light">Filter</a>
				</div>
				<div class="clearfix"></div>
			</div>


			<!-- Categories -->
			<nav class="widget">
				<h4>Product Categories</h4>
				<ul class="categories">
					<li><a href="#">Mountain Bikes</a></li>
					<li><a href="#">Technology</a></li>
					<li><a href="#">Fashion Clothing</a></li>
					<li><a href="#">Photo Cameras</a></li>
				</ul>
			</nav>
			
			<!-- Popular -->
			<div class="widget">
				<h4>Popular Products</h4>

				<div class="latest-shop-items">
					<a href="product-page.html"><img src="images/shop-camera.png" alt="" /></a>
					<p><a href="product-page.html">Digital Photo Camera</a> <span>$499</span></p>
				</div>
				
				<div class="latest-shop-items">
					<a href="product-page.html"><img src="images/shop-backpack.png" alt="" /></a>
					<p><a href="product-page.html">Red Travel Backpack</a> <span>$99</span></p>
				</div>

				<div class="latest-shop-items">
					<a href="product-page.html"><img src="images/shop-bike.png" alt="" /></a>
					<p><a href="product-page.html">Black Sport Mountain Bike</a> <span>$399</span></p>
				</div>

			</div>


		</aside>
	</div>
	<!-- Sidebar / End -->

</div>
<!-- 960 Container / End -->

</div>
<!-- Content / End -->

</div>
<!-- Wrapper / End -->