<% provide(:title, 'Services') %>
<!-- Content
================================================== -->
<div id="content">

<!-- 960 Container -->
<div class="container floated">

	<!-- Page Content -->
	<div class="eleven floated">
		<div class="shop-page page-content">
		
		<!-- Isotope -->
		<div id="portfolio-wrapper">
		
			<!-- Shop Item -->
			<div class="four-shop columns isotope-item">
				<div class="shop-item">
					<figure>
					<%= link_to image_tag("forex_signals.jpg"), static_page_path('signals') %>
						<figcaption class="item-description">
							<%= link_to static_page_path('signals') do %>
								<h5>Forex Signals</h4>
							<% end %>
							<span>Starting at $<%= @plans.first.price %>/month</span>
							<%= link_to "Subscribe Now", static_page_path('signals'), :class => "button color" %>
						</figcaption>
					</figure>
				</div>
			</div>
			
		</div>
		<!-- Isotope / End -->

	<div class="clearfix"></div>

	</div>
	</div>
	<!-- Page Content / End -->

</div>
<!-- 960 Container / End -->

</div>
<!-- Content / End -->

</div>
<!-- Wrapper / End -->