<% provide(:title, "Your Subscription") %>
  <div class="container floated">
    <div class="sixteen floated">
      <div class="page-content">
        
        <%= @subscription.inspect %>
        
    </div>
  </div>
</div>