/* FXSP */

.hidden { display: none; }

#header{
  margin-top: 10px;
  #logo{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }
}

#logo a img#fx-logo{
  height: 90px;
  width: 200px;
}

img#fx-logo.sm{
  height: auto;
  width: 130px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#contact.landing {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  .input{
    margin-bottom: 10px;
  }
}