/* FXSP */

.hidden { display: none; }

.text-right {
  text-align: right;
}

section#contact.landing{
  padding: 20px 0 20px 0;
}

.bar-light {
  background: #acacac;
  width: 100%;
  height: 3px;
}

header#header{
  margin-top: 10px;
  min-height: 115px;
  #logo{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }
}

#logo a img#fx-logo{
  height: 90px;
  width: 200px;
}

img#fx-logo.sm{
  height: auto;
  width: 130px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#contact.landing {
  display: block;
  width: 100%;
  .input{
    margin-bottom: 10px;
  }
  select{
    padding: 8px 9px;
  }
  input[type=submit]{
    float: none;
    margin-bottom: 10px;
  }
}

.error{
  color: #b94a48;
}

.alert{
  border: 1px solid;
  padding: 5px;
  margin: 10px;
  &-success{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
  }
  &-notice{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
  }
  &-alert{
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
  }
  &-error{
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
  }
}

.menu li.float-r {
  float: right;
  a {
    border-left: 1px solid #666;
    border-right: none
  }
  a:last-child {
    border-right: 1px solid #666;
  }
}

#devise-content {
  padding: 3em;
  h2 {
    margin-bottom: 20px;
  }
  .input{
    margin-bottom: 20px;
  }
  form {
    overflow: auto;
  }
}

#devise-links {
  margin-top: 15px;
}

#plan {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px){
  nav#navigation {
    ul#responsive {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px){
  nav#navigation {
    select {
      display: none;
    }
  }
}