<!-- Header
================================================== -->
<div id="top-line"></div>

<!-- 960 Container -->
<div class="container">

	<!-- Header -->
	<header id="header">

		<!-- Logo -->
		<div class="ten columns">
			<div id="logo">
				<h1><a href="#"><%= image_tag("fxlogo.png", id: "fx-logo", alt: "FX-SignalProvider") %></a></h1>
				<div id="tagline">Trade less. Win big.</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="six columns">

			<!-- Social Icons -->
			<ul class="social-icons">
				<li class="twitter"><a href="#">Twitter</a></li>
				<li class="facebook"><a href="#">Facebook</a></li>
			</ul>

			<div class="clearfix"></div>

			<!-- Contact Details -->
			<div class="contact-details">Phone: +48 880 440 110</div>
			<div class="clearfix"></div>
			<div class="contact-details">Email: <%= mail_to "support@fx-signalprovider.com" %></div>

		</div>
	</header>
	<!-- Header / End -->

	<div class="clearfix"></div>

</div>
<!-- 960 Container / End -->


<!-- Navigation
================================================== -->
<nav id="navigation" class="style-1">

<div class="left-corner"></div>
<div class="right-corner"></div>

<ul class="menu" id="responsive">

	<li><a href="index-2.html" id="current"><i class="halflings white home"></i> Home</a></li>

	<li><a href="#"><i class="halflings white file"></i> About Us</a>
	</li>

	<li><a href="#"><i class="halflings white facetime-video"></i> Videos</a>
	</li>
	
	<li><a href="#"><i class="halflings white shopping-cart"></i> Shop</a>
		<!-- Second Level / Start -->
		<ul>
			<li><a href="shop.html">Shop</a></li>
			<li><a href="product-page.html">Product Page</a></li>
		</ul>
		<!-- Second Level / End -->
	</li>

	<li><a href="#"><i class="halflings white pencil"></i> Articles</a>
	</li>

	<li><a href="contact.html"><i class="halflings white book"></i> Technical Analysis</a></li>

</ul>
</nav>
<div class="clearfix"></div>

<!-- 960 Container -->
<div class="container floated">

	<div class="sixteen floated page-title">

		<h2><%= yield(:title) %></h2>

		<nav id="breadcrumbs">
			<ul>
				<li>You are here:</li>
				<li><a href="index.html">Home</a></li>
				<li><%= yield(:title) %></li>
			</ul>
		</nav>

	</div>

</div>
<!-- 960 Container / End -->