<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        background-color: #fafafa;
        margin: 0;
      }
      .divider {
        width: 100%;
        background-color: #cccccc;
        height: 1px;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      #title {
        display: flex;
        background-color: #6dc6dd;
        text-align: center;
        height: 50px;
        justify-content: center;
        align-items: center;
      }
      #subject {
        color: white;
        font-size: 18px;
        font-family: Helvetica;
        line-height: 150%;
      }
      #container {
        width: 50%;
        margin: auto;
        color: #202020;
        font-size: 15px;
        line-height: 150%;
        font-family: Helvetica;
      }
      footer {
        text-align: center;
        color: #808080;
        font-family: Helvetica;
        font-size: 11px;
        line-height: 125%;
      }
      footer a {
        color: #808080;
      }
    </style>
  </head>

  <body>
    <div class="divider"></div>
    <%= email_image_tag("fxlogo.png") %>
    <div id="title"><div id="subject"><%= @subject.capitalize %></div></div>
    <div id="container">
      <div class="divider"></div>
      <%= yield %>
      <div class="divider"></div>
    </div>
    <footer>
      © Copyright 2019 by <a href="www.fx-signalprovider.com">fx-signalprovider.com</a>. All Rights Reserved.
    </footer>
  </body>
</html>
